doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom-Clone
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 MyZoom
        main
            h2 Welcome to MyZoom.
            h3 MyZoom is a realtime webcam chatting application made with WebRTC, Socket.io, NodeJs, Pug, Javascript, etc.
            hr
            div#welcome
                form
                    p Nickname.
                    input#nickname(placeholder="Type your nickname.", required, type="text") 
                    p Room name.
                    input#roomname(placeholder="Type room name you want to enter.", required, type="text") 
                    button Join Room.
                h4 Open Rooms :
                ul
            div#room
                h3
                span
                ul
                form#msg
                    input(placeholder="Message.", required, type="text")
                    button Send
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 
